:root {
    --primary-color: lightblue;
    --duration: 1s;
    --easing: cubic-bezier(0.5, 0, 0.5, 1);

    --color-gray: #8c97b7;
    --color-blue: #1c38f1;
    --color-green: #1fcdb0;
    --input-height: 3rem;
}

// Fundamental part
.fund-title {
    --primary-color: orange;
    font-size: 5vw;
    color: var(--primary-color);
    transition: all .3s;
    margin: 0;
    &:hover {
        font-size: 10vw;
    }
}

.fund-ball {
    width: 3vw;
    height: 3vw;
    background-color: var(--primary-color);
    border-radius: 100%;
    animation: slide-right var(--duration) var(--easing) infinite;
}

@keyframes slide-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(50vw);
    }
}

// Transition part
.transTitle {
    --primary-color: rgb(0, 123, 255);
    font-size: 5vw;
    color: var(--primary-color);
}

.transBall {
    left: 50vw;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background: linear-gradient(#e66465, #9198e5);

    // transition-property: background, transform;
    // transition-duration: 3s, 1s;
    // transition-timing-function: linear, ease-in-out;


    // short form
    transition: all 2s 0.5s ease-in-out;

    &:hover {
        background: blue;
        transform: scale(2);
        opacity: 0.5;
    }
}

.transForm {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    column-gap: 1rem;
    grid-template-areas: 'input button';
    padding: 1rem;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem #0003;

    --color: var(var(--color-gray));
    &:focus-within {
        --color: var(var(--color-blue))
    }

    &--input {
        grid-area: input;
        height: var(--input-height);
        padding: 0 1rem;
        border: 2px solid var(--color);
        border-radius: 0.25rem;
        outline: none;
    }

    &--button {
        grid-area: button;
        height: var(--input-height);
        padding: 0 1rem;
        border-radius: 0.25rem;
        font-weight: bold;
        color: white;
        background-color: var(--color);

        span {
            color: var(--color-gray);
        }
    }
}